.sidebar{
    height: 100%;
    z-index: 1;
    width: 300x;
    background-color:black;
    top: 0;
    left: 0;
    
    position: fixed;
    }
    .sidebar a{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color:palevioletred;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: justify;
    margin-top: 20px;
    }
    
    .sidebar a:hover{
    color:grey;
    }
    
    .dropbtn{
    background-color: hotpink;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    }
    
    .dropdown{
    position: relative;
    right: 0;
    }
    
    .dropdown-content{
    display: none;
    position: absolute;
    background-color:plum;
    }
    
    .dropdown-content a{
        text-shadow: purple;
    color:violet);
    display: block;
    }
    
    body{
        margin:0;
        padding: 0;
        background: url(pozadina.jpg) no-repeat;
        background-size: cover;
    }
    .box { 
    width:450px;
    position: relative;
    background: pic;
    padding:40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    color:aliceblue;
    font-family: 'Courier New', Courier, sans-serif;
    }
    .faves{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    }
    
    .box p{
        text-align: center;
    
    }
    p{
        text-align: center;
    }
    
    h2{
        font-family: 'Courier New', Courier, monospace;
        color:palevioletred;
        font-size: 35px;
        text-align: center;
    }
    h3, h4{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color:lightsteelblue;
        
    }
    .lista{
        text-align: justify;
        text-shadow: -4px 4px 6px dimgrey;
    }